<div class="text-center" style="width: 100%; padding-top: 100px">
  <h3 class="h3 mb-3">Hello, {{name}}!
    Your email is <a href="mailto:{{email}}">{{email}}</a>.
    Please, create password for finishing account:</h3>
  <form action="/auth/createPassword" method="POST" class="form-signin">
    <input type="hidden" name="email" value="{{email}}" />
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Create account</button>
  </form>
</div>