<div class="text-center" style="width: 100%; padding-top: 100px">
  <h2 class="h3 mb-3">Please log in or sign up to view this page.</h2>
  <div class="form-signin">
    <a class="btn btn-lg btn-block btn-primary" href="/login">Log in</a>
    <a class="btn btn-lg btn-block btn-info" href="/signup">Sign up</a>
  </div>
</div>