<div class="text-center" style="width: 100%; padding-top: 100px">
  <form action="/auth/login" method="POST" class="form-signin">
    <img class="mb-4" src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Log in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    <br>
    <h5>or use social networks</h5>
    <a class="btn btn-lg btn-block btn-success" href="/auth/google">Use Google</a>
    <a class="btn btn-lg btn-block btn-success" href="/auth/facebook">Use Facebook</a>
  </form>
</div>